.digimons {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.digimon {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
  border: 1px solid;
  padding: 4px;
  border-radius: 0.9rem;
  background: none;
  width: 250px;
  height: 40px;
  color: #0d0093;
  background-color: #dc8404;

  &:hover {
    font-size: 1.5rem;
    cursor: pointer;
    color: #dc8404;
    background-color: #0d0093;
  }
}
